<div id="info">
    <ul class="breadcrumb">
        <li><a href="#">Управление сайтом</a><span class="divider">/</span></li>
        <li><a href="/admin/page/index.php">Страницы</a><span class="divider">/</span></li>
		<li class="active"><a>Редактирование страницы <strong>"{$title}"<strong></a></li>
    </ul>
</div>


{if $error}
<div class="row">
    <div class="span12">
        <div class="alert alert-error">
            {foreach from=$error key=key item=item}
            {$item}<br/>
            {/foreach}
        </div>
    </div>
</div>
{/if}

<form action="/admin/page/editGo.php" enctype="multipart/form-data" method="post">  
	<fieldset>
		<div class="row">
            <div class="span4 offset4">
                <strong>Владелец страницы: </strong> {$selectOwnerPage}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                &nbsp;
            </div>
        </div>
		<div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="name"><strong>Название страницы:</strong></label>
                    <div class="controls">
                        <input type="text" id="name" name="title" value="{$title}" maxlength="255" style="width: 99%">
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="url"><strong>Адрес страницы (uri):</strong></label>
                    <div class="controls">
                        <input type="text" name="uri" value="{$uri}" id="url" style="width:99%" maxlength="255" readonly>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="span6">
				<div class="control-group">
                    <label class="control-label" for="template">Используемый шаблон:</label>
                    <div class="controls">
                        <input type="text" id="template" name="template" value="{$template}" maxlength="255" style="width: 99%">
                    </div>
                </div>
			</div>
			<div class="span6">
				<div class="control-group">
                    <label class="control-label" for="redirect">Редирект</label>
                    <div class="controls">
                        <input type="text" id="redirect" name="redirect" value="{$redirect}" maxlength="255" style="width: 99%">
                    </div>
                </div>
			</div>
		</div>
        <div class="row">
            <div class="span12">
            <img src="/userfiles/{$image}" />
            <span> Иконка </span> <input type="file" name="filename" />
            <br/>
            <span> На главной </span>
            <span> Да <input type=radio name="onmain" {if $onmain==1 }checked{/if} value="1"/> </span>
            <span> Нет <input type=radio name="onmain" { if $onmain==0 }checked{/if} value="0"/> </span>
            
            
            </div>
        </div>
		<div class="row">
			<div class="span12">
			<center><strong>Текст страницы:</strong></center></br>
			{$fckFormText}
			</div>
		</div>
		<div class="row">
			<div class="span12">&nbsp;</div>
		</div>
		<div class="row">
            <div class="span6 offset3">
                <div class="control-group">
                    <label class="control-label" for="uri">Заголовок страницы (META-title):</label>
                    <div class="controls">
                        <input type="text" name="pageTitle" value="{$pageTitle}" id="pageTitle" style="width:99%" maxlength="255">
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="span6">
				<div class="control-group">
                    <label class="control-label" for="md">Заголовок страницы (META-description):</label>
                    <div class="controls">
                        <input type="text" name="md" value="{$md}" id="md" style="width:99%" maxlength="255">
                    </div>
                </div>
			</div>
			<div class="span6">
				<div class="control-group">
                    <label class="control-label" for="mk">Заголовок страницы (META-keywords):</label>
                    <div class="controls">
                        <input type="text" name="mk" value="{$md}" id="mk" style="width:99%" maxlength="255">
                    </div>
                </div>
			</div>
			
		</div>
		<div class="row">
			<div class="span12">
			<center><button type="submit" class="btn btn-primary">СОХРАНИТЬ</button></center>
			<input type="hidden" name="action" value="page" id="action">
			<input type="hidden" name="pageId" value="{$id}" id="pageId">
			</div>
		</div> 
	</fieldset>
</form>
