<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><!-- index -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{mk}" />
		<meta name="description" content="{md}"/>

		<title>{title}</title>

		<script type="text/javascript" src="/js/jquery.base.latest.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/css/qaptcha.css" />
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/jquery.qaptcha.min.js"></script>
        <script type="text/javascript" src="/js/shop.js"></script>

    </head>
    <body>

        {%% accounts() %%}

		<div>
			<h1>{pageTitle}</h1>
			{content}
		</div>

		<div style="visibility: hidden; position: absolute; top: 0px;">{%% stat() %%}</div>
    </body>
</html>
