{extends template=ru/base.tpl}
    {block name=bottom}
	<div class="wrap">
		<div class="about">
			<a href="#"><img src="/images/about-banner.png" height="120" width="372" alt="" /></a>
			<div class="about-info">
				<h2>О нас</h2>	
				<p>В наше время сложно  чем-то удивить. Много придумано и изобретено,  но человеческие отношения, сервис, отзывчивость и взаимопомощь всегда и во все времена востребованы в человеческом обществе.  Поэтому главной целью нашей компании  является создание благоприятных условий для долгосрочных.</p>
			</div>	
		</div>	
	</div>
    {/block}
{/extends}
