{extends template=ru/base.tpl}
    {block name=content}
			<div class="container-content">
				<h2>Услуги</h2>
                    <div class="aside">
                        <div class="nav-aside">
                            {show_menu menuid=6}
                        </div>
                    
					<div class="aside-banner">
						<a href="#"><img src="/images/banner-one.png" height="120" width="295" alt="" /></a>	
						<a href="#"><img src="/images/banner-two.png" height="120" width="294" alt="" /></a>	
						<a href="#"><img src="/images/banner-three.png" height="120" width="294" alt="" /></a>
						<a href="#"><img src="/images/banner-four.png" height="120" width="294" alt="" /></a>
					</div>
					</div>

                    <div class="content">
                        <div class="serv-text">
                        <h3>{$pageTitle}</h3>
                        <p>
                            {$content}
                        </p>
                        </div>
                    </div>


			</div>	

    
    
    {/block}
{/extends}

