<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{pageTitle} | Белая нерпа</title>
        <link rel="stylesheet" type="text/css" href="/templates/ru/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/templates/ru/css/flexslider.css" />
        <link rel="stylesheet" type="text/css" href="/templates/ru/css/cusel.css" />
        <link rel="stylesheet" type="text/css" href="/templates/ru/css/niceforms-default.css" />
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>	
        <script type="text/javascript" src="/templates/ru/js/jquery.easing.1.3.js" ></script>	        		
        <script type="text/javascript" src="/templates/ru/js/jquery.flexslider.js"></script>
        <script type="text/javascript" src="/templates/ru/js/cusel.js"></script>
        <script type="text/javascript" src="/templates/ru/js/jScrollPane.js"></script>
        <script type="text/javascript" src="/templates/ru/js/jquery.mousewheel.js"></script>	
        <script type="text/javascript" src="/templates/ru/js/jquery.radio.min.js"></script>	
        <script type="text/javascript" src="/templates/ru/js/organictabs.jquery.js"></script>        
		<script type="text/javascript" src="/templates/ru/js/custom.js" ></script>
        <script type="text/javascript" src="/templates/ru/js/jquery.zoom.js"></script>
		
        <script>
            $(document).ready(function(){
                //var image = $('.mainImg img');
				
				//image.load (function () {
					//if ($(this).width < 287 && $(this).width < 431) {}
					//else 
					$('#ex1').zoom();
				//});
				
				
				 
            });
        </script>				
    </head>
    <body>

        <!-- BEGIN BODY -->

        <!-- BEGIN HEADER -->

        <div class="boxHeader">
            <div class="headerTopWrapper">
               {%% topLoginForm () %%}
            </div>
        </div>
        <div id="header">			
            <div class="logo"><a href="/"><img src="/templates/ru/images/img/logo.png"   alt="" border="0px" /></a></div>
            <div class="slogan">— Найди свой стиль!</div>
            <div class="boxTel"><span>8 (3952) <span>75-75-37</span></span><br />C 9.00 до 19.00</div>
            <form action="" name="Search" method="post">
                <div class="inputSearch"><input type="text" name="search" value="я ищу" onfocus="this.value=''" onblur="this.value='я ищу'" /></div>
                <input type="submit" value=""  class="button_search" />
            </form>
            <div class="boxNav">
                <!--<ul>
                    <li class="first"><a href="#">О компании</a></li>
                    <li><a href="#">КАТАЛОГ</a></li>
                    <li><a href="#">Таблицы размеро</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li class="withoutLine"><a href="#">зОЛОТАЯ НЕРПА</a></li>
                    <li class="last"><a href="#">Распродажа</a></li>
                </ul>-->
				
				{%% showMenu (menuid: 1;) %%}
            </div>
        </div>

        <!-- HEADER EOF   -->	

        <!-- BEGIN CONTENT -->

        <div id="content">
            <div class="contentMain">
				{content}
                <!--<a href="#" class="buttonBack">Вернуться в каталог</a>
                <div class="breadCrumbs">
                    <a href="#">Главная</a>
                    <img src="/templates/ru/images/img/marker_breadcrumb.png"   alt="" border="0px" />
                    <a href="#">Женская одежда</a>
                    <img src="/templates/ru/images/img/marker_breadcrumb.png"   alt="" border="0px" />
                    <a href="#">Блузы</a>
                    <img src="/templates/ru/images/img/marker_breadcrumb.png"   alt="" border="0px" />
                    <a href="#">С длиным рукавом</a>
                    <img src="/templates/ru/images/img/marker_breadcrumb.png"   alt="" border="0px" />
                    <p>Tom Farr</p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="boxGallery">
                    <div class="mainImg"><span class="zoom" id="ex1"><img src="/templates/ru/images/img/img_big_1.jpg" id="main" width="287" height="407"   alt="" border="0px" /></span></div>
                    <div class="boxImgSmall">
                        <a href="#"><img src="/templates/ru/images/img/img_small_1.jpg"   alt="" border="0px" /></a>
                        <a href="#"><img src="/templates/ru/images/img/img_small_2.jpg"   alt="" border="0px" /></a>
                        <a href="#"><img src="/templates/ru/images/img/img_small_3.jpg"   alt="" border="0px" /></a>
                    </div>
                    <div class="clear"></div>
                </div>	
                <div class="boxDescriptionProduct">
                    <h1><strong>Tom Farr</strong> Рубашка c рукавом ¾ </h1>
                    <div class="mainDescription">
                        <div class="lineDescription">
                            <div class="textLeft"><p>Артикул:</p></div>
                            <div class="textRight"><p>02356</p></div>
                            <div class="clear"></div>
                        </div>
                        <div class="lineDescription">
                            <div class="textLeft"><p>Бренд:</p></div>
                            <div class="textRight"><p>Tom Farr</p></div>
                            <div class="clear"></div>
                        </div>
                        <div class="lineDescription">
                            <div class="textLeft"><p>Страна производитель:</p></div>
                            <div class="textRight"><p>Россия</p></div>
                            <div class="clear"></div>
                        </div>
                        <div class="lineDescription">
                            <div class="textLeft"><p>Состав ткани:</p></div>
                            <div class="textRight"><p>80% хлопок / 20% полиэстер</p></div>
                            <div class="clear"></div>
                        </div>
                        <div class="lineDescription">
                            <div class="textLeft"><p>Размерный ряд:</p></div>
                            <div class="textRight">
                                <div class="boxSize">
                                    <ul>
                                        <li><a href="#">XS</a></li>
                                        <li><a href="#">L</a></li>
                                        <li class="none"><a href="#">M</a></li>
                                        <li class="none"><a href="#">XL</a></li>
                                        <li><a href="#">S</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                    <a href="#" class="allSize">Тблица размеров</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="boxDescriptionRight">
                        <div class="descriptionRight">
                            <div class="discount"></div>
                            <p>Цена:</p>
                            <p class="price">1 800 руб.</p>
                            <p class="discountPrice">2 100 руб.</p>
                            <a href="#" class="inBasket">В корзину</a>
                            <a href="#" class="method">Способы доставки</a>
                        </div>
                        <div class="boxIcons">
                            <p>Мы в соцсетях:</p>
                            <a href="#"><img src="/templates/ru/images/img/icon_1.png"   alt="" border="0px" /></a>
                            <a href="#"><img src="/templates/ru/images/img/icon_2.png"   alt="" border="0px" /></a>
                            <a href="#"><img src="/templates/ru/images/img/icon_3.png"   alt="" border="0px" /></a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="textDescription">
                        <h3>Описание</h3>
                        <p>Элегантная блуза от Comma. Модель исполнена в белом цвете и отличается лаконичностью фасона и оформления. Такая блуза органично впишется в ваш деловой образ и станет прекрасным дополнением к классическому брючному костюму или темной юбке.</p>
                    </div>
                    <div class="textDescription">
                        <h3>Отзывы <a href="#">(15)</a></h3>
                        <div class="boxOneReview">
                            <div class="textReview">
                                <div class="bottomReview"></div>
                                <p>сначала подумал, что странно они выглядят, но ради интереса заказал вместе с кедами померить. оказалось, что на ноге они смотрятся мега стильно, решил купить!</p>
                            </div>
                            <p class="name">Гость</p>
                            <p class="name">10 Июля 2012, 9:49</p>
                            <div class="boxMark">							
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                                <div class="clear"></div>				
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="boxOneReview">
                            <div class="textReview">
                                <div class="bottomReview"></div>
                                <p>сначала подумал, что странно они выглядят, но ради интереса заказал вместе с кедами померить. оказалось, что на ноге они смотрятся мега стильно, решил купить!</p>
                            </div>
                            <p class="name">Гость</p>
                            <p class="name">10 Июля 2012, 9:49</p>
                            <div class="boxMark">							
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                                <div class="clear"></div>				
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="boxRecomendation">
                        <h3>Рекомендуем:</h3>
                        <div class="boxCatalogProducts">				
                            <div class="oneProduct">
                                <a href="#"><img src="/templates/ru/images/img/01_img_6.jpg"   alt="" border="0px" /></a>
                                <p class="nameProduct"><a href="#"><strong>Tom Farr</strong></a><br/><a href="#">Блуза c пуговицами</a></p>
                                <p class="price">3 700 руб.</p>
                                <a href="#" class="buttonInBasket">В корзину</a>
                            </div>
                            <div class="oneProduct withoutButton">
                                <div class="action"></div>
                                <a href="#"><img src="/templates/ru/images/img/01_img_3.jpg"   alt="" border="0px" /></a>
                                <p class="nameProduct"><a href="#"><strong>Tom Farr</strong></a><br/><a href="#">Рубашка c рукавом ¾</a></p>
                                <p class="price">1 800 руб.</p>							
                            </div>
                            <div class="oneProduct">
                                <a href="#"><img src="/templates/ru/images/img/01_img_6.jpg"   alt="" border="0px" /></a>
                                <p class="nameProduct"><a href="#"><strong>Tom Farr</strong></a><br/><a href="#">Блуза c пуговицами</a></p>
                                <p class="price">3 700 руб.</p>
                                <a href="#" class="buttonInBasket">В корзину</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>		-->
                <div class="clear"></div>
            </div>
        </div>	

        <!-- CONTENT EOF   -->

        <!-- BEGIN FOOTER -->	

        <div class="boxFooter">
            <div id="footer">
                <div class="footerBlock1">
                    <p class="titleBlock">Мой профиль</p>
                    <!--<ul>
                        <li><a href="#">Авторизация</a></li>
                        <li><a href="#">Создать учетную запись</a></li>
                    </ul>-->
					{%% showMenu (menuid: 4;) %%}
                </div>
                <div class="footerBlock1">
                    <p class="titleBlock">Белая нерпа</p>
                    <!--<ul>
                        <li><a href="/novosti/">Новости</a></li>
                        <li><a href="#">О магазине</a></li>
                        <li><a href="#">Наша продукция</a></li>
                        <li><a href="#">О «Золотой нерпе»</a></li>
                        <li><a href="/kontakty/">Контакты</a></li>
                        <li><a href="#">Подарочные сертификаты</a></li>
                        <li><a href="/aktsii/">Акции</a></li>
                        <li><a href="#">Карта сайта</a></li>
                    </ul>-->
					{%% showMenu (menuid: 3;) %%}
                </div>
                <div class="footerBlock1">
                    <p class="titleBlock">Покупателям</p>
                    <!--<ul>
                        <li><a href="/tablitsy-razmerov/">Ваш размер</a></li>
                        <li><a href="/dostavka-i-oplata/#dostavka">Доставка</a></li>					
                        <li><a href="/dostavka-i-oplata/">Оплата</a></li>
                        <li><a href="#">Возврат и обмен</a></li>
                        <li><a href="#">Полезные статьи</a></li>					
                    </ul>-->
					{%% showMenu (menuid: 2;) %%}
                </div>
                <div class="footerBlock2">
                    <p class="titleBlock">Контакты</p>
                    <p><span><span>8 (3952)</span> 75-75-37</span><br/>C 9.00 до 19.00</p>
                    <p>г. Иркутск, ул.Советская, 25, пав. 24</p>
                </div>
                <div class="footerBlock2">
                    <p class="titleBlock">ПРИСОЕДИНЯЙТЕСЬ</p>
                    <a href="http://vk.com/nerpamoda" class="iconFooter1" target="_blank">Вконтакте</a>
                    <a href="http://www.facebook.com/nerpamoda" class="iconFooter2" target="_blank">Facebook</a>
                    <a href="http://odnoklassniki.ru/group/52848614113393" class="iconFooter3" target="_blank">Однокласники</a>
                </div>
                <div class="clear"></div>
                <p class="mainFooterText">© 2013 Белая нерпа — розничная торговля белых блуз, рубашек для работы и отдыха</p>	
            </div>
        </div>
        
        <!-- FOOTER EOF   -->			

    </body>
</html>
