
{extends template=ru/base.tpl}
    {block name=content}
    	<div class="box-container">
				<h2>{$pageTitle}</h2>
					
                <div class="serv-container">
                    {foreach from=$child item=item}
                    
                    <div class="sr-box">
							
                            <table>
								<tr>
									<td><a href="/{$item.uri}.html"><img src="/userfiles/{$item.image}" height="85" width="73" alt="" /></a></td>
									<td>
										<a href="/{$item.uri}.html">{$item.title}</a>
									<p>
                                        {$item.shorttext}
                                    </p>
                                    
                                    
                                    </td>
								</tr>
							</table>	
						</div>
                   {/foreach} 
                    </div>
				<div class="banner-box">
				
        {show_banner section=bottom5}
                
                </div>
			</div>	

    
    
    {/block}
{/extends}

