{extends template=ru/base.tpl}
    {block name=content}
    	<div class="box-container">
				<h2>{$pageTitle}</h2>
					
                <div class="serv-container">
				
         			<div class="aut-box">
						{$content}
					</div>           
                    {foreach from=$child item=item}
                    
                    <div class="sr-box">
							
                            <table>
								<tr>
									<td><a href="/{$item.uri}.html"><img src="/userfiles/{$item.image}" height="85" width="73" alt="" /></a></td>
									<td>
										<a href="/{$item.uri}.html">{$item.title}</a>
									<p>
                                        {$item.shorttext}
                                    </p>
                                    
                                    
                                    </td>
								</tr>
							</table>	
						</div>
                   {/foreach} 
                    </div>
				<div class="banner-box">
							

        {show_banner section=bottom5}
        <!--
        <a href="#"><img src="images/banner.png" height="120" width="314" alt="" /></a>
							<a href="#"><img src="images/calc-img.png" height="120" width="315" alt="" /></a>
							<a href="#"><img src="images/garant-img.png" height="120" width="150" alt="" /></a>	
							<a href="#"><img src="images/zm-img.png" height="120" width="151" alt="" /></a>
		-->
        </div>
			</div>	

    
    
    {/block}
{/extends}

